<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.CustomerMapper">
    <select id="getCustomerList" resultType="CustomerDto">
        SELECT CUST_ID, CUST_NM, AGE, GENDER, PHONE, POST_CODE, ADDR1, ADDR2, CREATED_AT
        FROM CUSTOMER
        ORDER BY CREATED_AT DESC
    </select>
</mapper>
