<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.UserMapper">

    <select id="getUserForLogin" parameterType="string" resultType="com.example.backend.dto.UserDto">
        SELECT u.USER_ID AS userId,
               u.PASSWORD AS password,
               r.ROLE_ID AS roleId
          FROM TB_USER u
          JOIN TB_ROLE r ON u.ROLE_ID = r.ROLE_ID
         WHERE u.EMAIL = #{email}
    </select>

</mapper>
